<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background: blanchedalmond">
<h1 style="text-align: center">Vernagir</h1>
<h2>Animast</h2>
<p style="color:brown;background: chartreuse">Hello the best User</p>
<p style="color:#FF0074">Blue</p>
<input type="password" placeholder="password"/>
<br/>
<input type="email" placeholder="email"/>
<br/>
<input type="text" placeholder="text"/>
</body>
</html>
