<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background: blanchedalmond">
<h2>Registration</h2>
<form action="/register" method="post">
<input name="fname" type="text" placeholder="first name"/>
<br/>
<input name="lname" type="text" placeholder="Last name"/>
<br/>
<input name="email" type="email" placeholder="email"/>
<br/>
<input name="pass" type="password" placeholder="password"/>
<br/>
<input name="passrep" type="password" placeholder="password repeat"/>
<br/>
<br/>
<input type="submit" value="Create"/>
</form>
</body>
</html>